*
header{
    color: blue;
    align:center;
    font-size:x-large;
float: left;}

    


body{ 

    background-image: url(https://media.giphy.com/media/iJE5FiOJ7ecJZFjC2B/giphy.gif);
    background-size:cover ;

}